[Unit]
Description=Uncle Archie CI Server
After=multi-user.target

[Service]
Restart=always
ExecStart=/usr/bin/sudo -H -u ubuntu /usr/bin/bash /home/ubuntu/uncle-archie/scripts/start_archie.sh
ExecStop=/usr/bin/sudo -H -u ubuntu /usr/bin/bash /home/ubuntu/uncle-archie/scripts/stop_archie.sh

[Install]
WantedBy=multi-user.target
