[Unit]
Description=Uncle Archie CI Server
After=multi-user.target

[Service]
Restart=always
ExecStart=/usr/bin/sudo -H -u ubuntu /usr/bin/bash /home/ubuntu/uncle-archie/scripts/start_archie.sh
uxecStop=/usr/bin/sudo pkill -f uncle_archie

[Install]
WantedBy=multi-user.target
